@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$color: #1BB3EC;
$color2:#2691D8;
$font: 'Roboto', sans-serif;


body{
    margin: 0;
    padding: 0;
    font-family: $font;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}



                       // navbar setup
.container{
    width: 80%;
    margin: 0 auto;

}

.logo{
    width: 10rem;
    cursor: pointer;
}


header{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    


    nav{
        list-style: none; 
    }

    nav li{
        display: inline-block;
        padding: 0 30px;
    }
    nav li a{
        transition: all 0.3s ease;
        color: black;
    }
    nav li a:hover{
        color: #fff;
    }
}


                          //  Hero Section

section ul{
    display: grid;
    grid-auto-columns: 1fr 1fr; 
   
    
    li:first-child{
        margin-top: 10rem;
        
    }
    
    li:first-child h1{
        font-size: 4.2rem;
        text-transform: capitalize;
        color: rgba(0,0,0,0.8);
    }

    li:first-child h1 span{
        padding: 0 5rem;
        color: $color2;
        font-size: 8rem;
    } 
    li:first-child p{
        font-weight: bold;
        color: rgba(0,0,0,0.7);
    }

    .section-btn{
        width: 100%;
        margin: 0 12rem ;
        border-radius: 40rem;
        padding: 1rem 5rem;
        background: $color2;
        color: #fff;
        text-transform: capitalize;
    }

    .section-btn:hover{
        background: #fff;
        color: $color2;
        border: $color2 solid 1px;
    }

    li:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        background: url('images/design.svg');
        height: 100%;
        z-index: -1;
    }
    li:nth-child(2) img{
        margin-top: 10rem;
        width: 50rem;

    }

}




                         // about me section

.about{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 10rem;
    
    h2{
      font-size: 2.3rem;
    }

    h2 span{
        color: $color2;
    }

    figure{
       display: grid;
       grid-template-columns: 15rem 40rem;
       width: 50vw;
       background: rgba(0,0,0,0.8);
       padding: 3rem 5rem 3rem 8rem;
       border-radius: 1.5rem;
       margin-top: 5rem;
    }

    figure img{
        border-radius: 50%;
        height: 12rem;
        
    }

    figure p{
        color: #fff;
        padding: 0.3rem;
        font-size: 1.5rem;
        
    }

 
}



             //       Technology section

.technology{
    margin-top: 25rem;
    text-align: center;

    h2{
        color: $color2;
        font-size: 2.3rem;
    }
    ul{
        margin-top: 6rem;
        display: flex;
        justify-content: space-around;
        padding: 0 12vw;
    }
    ul p{
        font-weight: bold;
    }
    

    
}


                // contact me section 


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;

    h2{
        font-size: 2.3rem;
    }

    h2 span{

        color: $color2;
    }

    input[type='text'],textarea{
        border: none;
        border-bottom: #000 solid 1.2px;
        line-height: 3rem;
        width: 50vw;
        outline: none;
    }

    textarea{
        height: 15rem;
    }

   input[type='text']:hover,textarea:hover{
        border-bottom: $color2 solid 1.5px;
    }

    .contact-btn{
        width: 100%;
        margin-top: 3rem;
        border-radius: 40rem;
        border: none;
        padding: 1rem 5rem;
        background: $color2;
        color: #fff;
        text-transform: capitalize;
    }

    .contact-btn:hover{
        background: #fff;
        color: $color2;
        border: $color2 solid 1px;
    }
}



                 // footer

footer{
    text-align: center;
    background-color: #202020;
    font-weight: bold;
    color: #fff;
    margin-top: 3rem;
    font-size: 0.8rem;
    padding: 1.5rem 0;
    width: 100%;
}



                                           








                                                       // making responsive 




@media (max-width:1650px){




    .about{

       figure{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 60%;
          background: rgba(226, 225, 225, 0.8);
          border-radius: 1.5rem;
          margin-top: 5rem;
       }
   
       figure img{
          border-radius: 5%;
          width: 15rem;
          height: 15rem;
           
       }
   
       figure p{
           color: rgb(5, 5, 5);
           padding: 0.2rem;
           font-size: 1.5rem;
           
       }
    
   }


}





@media (max-width:1450px){
    .container{
        width: 90vw;
        margin: 0 auto;
    
    }

    section ul{
        text-align: center;
        
         li:first-child h1{
             font-size: 4rem;
             text-transform: capitalize;
             color: rgb(0, 0, 0);
         }
    
         li:first-child h1 span{
             color: rgb(1, 132, 240);
             font-size: 8rem;
         } 
        li:first-child p{
            font-weight: bold;
            color: rgba(0,0,0,1);
        }
    
        li:nth-child(2){
            position: absolute;
            top: 0;
            right: 0;
            background: url('images/design.svg');
            height: 110vh;
            z-index: -1;
            opacity: .8;

        }
         li:nth-child(2) img{
             margin-top: 10rem;
             width: 50rem;
             opacity: .8;
         }
    
    }


}




@media (max-width:750px){

    .container{
        width: 100%;
    }


    section ul{
       margin: 0;
       padding: 0;
        
         li:first-child h1{
             font-size: 3rem;
             text-transform: capitalize;
             color: rgb(0, 0, 0);
         }
    
         li:first-child h1 span{
             color: rgb(1, 132, 240);
             font-size: 6rem;
         } 
      
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    
        
    
    
        nav{
            list-style: none; 
        }
    
        nav li{
            display: inline-block;
            padding: 25px 25px;
        }
        
    }

}





@media (max-width:650px){

    section ul{
        text-align: center;
        
         li:first-child h1{
             font-size: 2.5rem;
             text-transform: capitalize;
             color: rgb(0, 0, 0);
         }
    
         li:first-child h1 span{
             color: rgb(1, 132, 240);
             font-size: 6rem;
         } 
        li:first-child p{
            font-weight: bold;
            color: rgba(0,0,0,1);
            font-size: 0.9rem;
        }

        .section-btn{
            margin: 0 6rem ;
        }
    
    }

}





@media (max-width:450px){

    section ul{
       text-align: center;
       padding: 0;
       margin: 0;
        
         li:first-child h1{
             font-size: 2rem;
             text-transform: capitalize;
             color: rgb(0, 0, 0);
         }
    
         li:first-child h1 span{
             color: rgb(1, 132, 240);
             font-size: 4rem;
         } 
        li:first-child p{
            font-weight: bold;
            color: rgba(0,0,0,1);
            font-size: 0.7rem;
        }

        .section-btn{
            margin: 0 4rem ;
        }
    
    }



    .technology{
     
        ul{
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
    
    }


    .about{
       
       
      
      
       figure{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 60%;
          background: rgba(226, 225, 225, 0.8);
          border-radius: 1.5rem;
          margin-top: 5rem;
          padding: 1.5rem;
       }
   
       figure img{
          border-radius: 5%;
          width: 10rem;
          height: 10rem;
           
       }
   
       figure p{
           color: rgb(5, 5, 5);
           padding: 0;
           font-size: 1rem;
           
       }
    
   }

    
}





@media (max-width:390px){

    section ul{

          li:first-child h1{
              font-size: 1.5rem;
              text-transform: capitalize;
              color: rgb(0, 0, 0);
          }
     
          li:first-child h1 span{
              color: rgb(1, 132, 240);
              font-size: 3rem;
          } 
         li:first-child p{
             font-weight: bold;
             color: rgba(0,0,0,1);
             font-size: 0.6rem;
         }
 
         .section-btn{
             margin: 0 2rem ;
         }
    }





}



@media (max-width:390px){

    header{
     
        nav li{
            display: inline-block;
            padding: 0 12px;
        }
        
    }

}